<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<!--dubbo动态配置：将dubbo配置集中，统一管理-->
	<!--<dubbo:config-center address="zookeeper://127.0.0.1:2181"/>-->
	<!--spring配置自动扫描-->
	<context:component-scan base-package="com.xyz" />

	<dubbo:application name="dubbo-provider" />
	<!--zookeeper 地址为本地虚拟机-->
	<dubbo:registry address="zookeeper://192.168.202.128:2181" />
	<!--<dubbo:registry address="zookeeper://127.0.0.1:2181"  check="true" timeout="3000"/>-->



	<!--dubbo协议：采用NIO复用单一长连接，并使用线程池并发处理请求，减少握手和加大并发效率，性能较好（推荐使用）-->
	<dubbo:protocol name="dubbo" port="20880" />
	<dubbo:protocol name="rmi" port="1099" />

	<!-- 声明需要暴露的服务接口 -->
	<!--同一个服务使用了不同的协议-->
	<dubbo:service interface="com.xyz.dubbo.provider.service.UserService" ref="userService" protocol="dubbo"/>
	<dubbo:service interface="com.xyz.dubbo.provider.service.AsyncService" ref="asyncService" protocol="dubbo"/>

    <!--一个接口的多种实现-->
	<dubbo:service group="aliTradeService" interface="com.xyz.dubbo.provider.service.TradeService" ref="aliTradeService" protocol="dubbo" />
	<dubbo:service group="wxTradeService" interface="com.xyz.dubbo.provider.service.TradeService" ref="wxTradeService" protocol="dubbo" />


	<!--多版本接口实现-->
	<dubbo:service interface="com.xyz.dubbo.provider.service.BlogService" version="1.0.0" ref="basketballBlogService" protocol="dubbo" />
	<dubbo:service interface="com.xyz.dubbo.provider.service.BlogService" version="1.0.1" ref="footBallBlogService" protocol="dubbo" />

	<dubbo:service interface="com.xyz.dubbo.provider.service.CallbackService" ref="callbackService" connections="1" callbacks="1000">
		<dubbo:method name="addListener">
			<dubbo:argument index="1" callback="true" />
		</dubbo:method>
	</dubbo:service>

	<!--本地存根的实现方式-->
	<dubbo:service interface="com.xyz.dubbo.provider.service.GoodsService" ref="goodsService"  stub="com.xyz.dubbo.provider.service.GoodsServiceStub" />
</beans>