<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


	<dubbo:application name="dubbo-consumer" />
	<dubbo:registry address="zookeeper://192.168.202.128:2181" />
	<!--设置服务调用失败是重试次数，默认两次，建议服务端全部设置成0次，适用于非幂等操作-->
	<dubbo:consumer retries="0"/>
	<!--<dubbo:registry address="zookeeper://127.0.0.1:2181" />-->


	<!--本地伪装，当服务提供者全部不可用之后，客户端利用本地伪装，可以利用 mock="true" 实现服务降级-->
	<!--<dubbo:reference id="userService" interface="com.xyz.dubbo.provider.service.UserService" mock="true"/>-->
	<dubbo:reference id="userService" interface="com.xyz.dubbo.provider.service.UserService" mock="com.xyz.dubbo.consumer.mock.UserServiceMock"/>
	<!--使用dubbo提供的异步方式调用-->
	<dubbo:reference id="asyncService" timeout="10000" interface="com.xyz.dubbo.provider.service.AsyncService"/>

	<!--一个服务接口多个实现的引用-->
	<dubbo:reference id="tradeService" group="*" interface="com.xyz.dubbo.provider.service.TradeService" />
	<!--<dubbo:reference id="tradeService" group="aliTradeService" interface="com.xyz.dubbo.provider.service.TradeService" />-->
	<!--<dubbo:reference id="tradeService" group="wxTradeService" interface="com.xyz.dubbo.provider.service.TradeService" />-->

	<!--多版本调用-->
	<dubbo:reference id = "blogService" interface="com.xyz.dubbo.provider.service.BlogService" version="1.0.1"/>


	<dubbo:reference id="callbackService" interface="com.xyz.dubbo.provider.service.CallbackService" />

	<!--调用有本地存根的dubbo接口，服务端允许客户端执行一定的逻辑-->
	<dubbo:reference id="goodsService" interface="com.xyz.dubbo.provider.service.GoodsService" stub="true" />

	<!--设置接口调用超时时间（单位：毫秒）-->
	<dubbo:reference id="timeOutService" interface="com.xyz.dubbo.provider.service.TimeOutService" timeout="3000" />

</beans>