<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


	<dubbo:application name="dubbo-consumer" />
	<dubbo:registry address="zookeeper://192.168.202.128:2181" />
	<!--<dubbo:registry address="zookeeper://127.0.0.1:2181" />-->


	<dubbo:reference id="userService" interface="com.xyz.dubbo.provider.service.UserService" />
	<!--使用dubbo提供的异步方式调用-->
	<dubbo:reference id="asyncService" timeout="10000" interface="com.xyz.dubbo.provider.service.AsyncService"/>

	<!--一个服务接口多个实现的引用-->
	<dubbo:reference id="aliTradeService" group="aliTradeService" interface="com.xyz.dubbo.provider.service.TradeService" />
	<dubbo:reference id="wxTradeService" group="wxTradeService" interface="com.xyz.dubbo.provider.service.TradeService" />


</beans>